@CHARSET "UTF-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }   
body {
	background: #fff;
	color: #323232;
	font-size: 16px;
	font-family: "微软雅黑";
}   
body * {
	transition: all 0.2s ease-in-out;
}
td,th,caption { font-size:14px; }   
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }   
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}   
a { color:#555; text-decoration:none; }   
a:hover { text-decoration:underline; }   
img { border: 2px solid #959595; }   
ol,ul,li { list-style:none; }   
input, textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; }   
table { border-collapse:collapse; }   
.topmargin {
	height: 80px;
	position: fixed;
	right: 0px;
	left: 0px;
	background-image: url(url);
	background-color: hsla(228,46%,34%,1.00);
	top: 0px;
	z-index: 3;
}
.topmargin * {
	font-family: "黑体", "宋体";
	text-align: center;
	text-shadow: 0px 0px 1px hsla(0,0%,100%,1.00);
}

.topmargin a  {
	display: block;
	color: hsla(0,0%,100%,1.00);
	text-decoration: none;
}

.topmargin h1 {
	left: 50px;
	height: 60px;
	line-height: 54px;
	font-size: 30px;
	position: absolute;
	top: 10px;
	border: 3px solid hsla(0,0%,100%,1.00);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.topmargin h1:hover {
	-webkit-box-shadow: 0px 0px 10px hsla(0,0%,100%,1.00);
	box-shadow: 0px 0px 10px hsla(0,0%,100%,1.00);
}
.topmargin h1 a:hover {
	text-shadow: 0px 0px 10px hsla(0,0%,100%,1.00);
}


.topmargin .search {
	position: absolute;
	right: 200px;
	height: 40px;
	width: 210px;
	background-color: hsla(0,0%,100%,1.00);
	border-radius: 20px;
	top: 20px;
}
.topmargin .search input {
	border-style: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: absolute;
	right: 60px;
	border-radius: 20px;
	line-height: 40px;
	width: 150px;
	outline: none;
	height: 40px;
}
.topmargin .search button:hover {
	background-color: hsla(47,100%,77%,1.00);
	color: hsla(228,29%,30%,1.00);
}
.topmargin .search button {
	display: block;
	position: absolute;
	right: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 40px;
	border-radius: 20px;
	width: 60px;
	border-style: none;
	background-color: hsla(47,100%,46%,1.00);
	color: hsla(0,0%,100%,1.00);
	font-size: 18px;
	outline: none;
	cursor: pointer;
}


.topmargin h2 {
	right: 120px;
}
.topmargin h3 {
	right: 50px;

}
.topmargin h2 ,.topmargin h3   {
	font-size: 18px;
	line-height: 60px;
	height: 60px;
	top: 10px;
	width: 60px;
	position: absolute;
}

.topmargin h2 a , .topmargin h3 a{	transition: all 0.5s ease-in-out;}
.topmargin h2 a:hover , .topmargin h3 a:hover {
	background-color: hsla(0,0%,100%,1.00);
	border-radius: 15px;
	color: hsla(228,45%,35%,1.00);
}
.topmargin .loggeduser {
	position: absolute;
	width: 160px;
	height: 80px;
	right: 20px;
	top: 0px;
	overflow-x: hidden;
	overflow-y: hidden;
	background-color: #2F3F7F;
	border-radius: 10px;
	transition: all 0.5s ease-in-out;
}
.topmargin .loggeduser img {
	display: block;
	position: absolute;
	left: 60px;
	top: 10px;
}
.topmargin .loggeduser .username {
	display: block;
	width: 160px;
	height: 30px;
	line-height: 30px;
	padding-top: 50px;
	position: absolute;
	overflow-x: hidden;
	overflow-y: hidden;
}
.topmargin .loggeduser .logout {
	width: 40px;
	height: 40px;
	display: block;
	position: absolute;
	top: 100px;
	text-align: center;
	line-height: 40px;
	left: 60px;
	border-radius: 5px;
	transition: all 0.2s ease-in-out;
}
.topmargin .loggeduser .logout:hover {
	background-color: #FFFFFF;
	color: #2F3F7F;
}

.topmargin .loggeduser:hover {
	height: 160px;
}

main {
	overflow-y: hidden;
}
main header h1 {
	margin-top: 200px;
	text-align: center;
	line-height: 60px;
	font-weight: bolder;
}

.avatar {
	display: block;
	margin-left: auto;
	margin-right: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.changeavatar {
	width: 150px;
	line-height: 40px;
	text-align: center;
	color: #00C0FD;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
}
main form {
	background-color: #D6D6D6;
	-webkit-box-shadow: inset 0px 0px 20px #000000;
	box-shadow: inset 0px 0px 20px #000000;
	overflow-y: hidden;
	height: 0px;
	transition: all 0.5s linear;
}
main form.class  {
	height: 300px;



}
main form h1 {
	margin-top: 10px;
	text-align: center;
	color: #FF0004;
}
main form button {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	background-color: #EBB800;
	color: #FFFFFF;
	width: 60px;
	height: 30px;
	border-style: solid;
	border-radius: 5px;
	border-color: #959595;
	cursor: pointer;
	margin-bottom: 20px;
}



.cha #avatar {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
}
.cha p {
	text-align: center;
	margin-top: 20px;

}

.sex {
	text-align: center;
	margin-top: 30px;
}
.changesex {
	width: 150px;
	text-align: center;
	color: #00C0FD;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
	margin-top: 10px;
	margin-bottom: 10px;
}
.chs .sex {
	display: block;
	float: left;
	margin-left: auto;
	margin-right: auto;
	width: 40px;
}
.chs p {
	float: left;
	margin-left: auto;
	margin-right: auto;
	width: 40px;
}
.chs h2 {
	margin-left: auto;
	margin-right: auto;
	width: 160px;
	overflow-y: hidden;
	margin-top: 60px;
}


.chs button {
	clear: left;
	margin-top: 30px;
}

.changepassword {
	color: #00C0FD;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	cursor: pointer;
	width: 150px;
	margin-left: auto;
	margin-right: auto;
}
.chp input {
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.chp #oldpassword {
	margin-top: 30px;
}

.chp h2, .chp h3, .chp h4 {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}
.comments {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}
.comments> h1 {
	background-color: #00C0FD;
	color: #FFFFFF;
	line-height: 30px;
	font-size: 20px;
	text-indent: 20px;
	border-left: 5px solid #EBB800;
}
.comments section  {
	margin-top: 20px;
	border-bottom-style: solid;
	border-bottom-color: #D6D6D6;
}

.comments section h1    {
	font-size: 14px;
}
.comments section h2  {
	font-size: 20px;
	line-height: 1.5em;
	height: 1.5em;
	overflow-y: hidden;
	overflow-x: hidden;
}
.comments section h2 a:hover {
	color: #00C0FD;
	text-decoration: none;
}

.comments section p {
	line-height: 1.5em;
	word-break: normal;
	word-wrap: break-word;
}
.commentpages {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.previouspage  , .nextpage {
	width: 100px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	border-style: solid;
	border-color: #EBB800;
	margin-top: 30px;
	float: left;
	margin-left: 120px;
	margin-right: 120px;
	cursor: pointer;
}
.previouspage:hover,.nextpage:hover {
	color: #00C0FD;
}
.previouspage.class,.nextpage.class  {
	visibility: hidden;
}
footer {
	clear: left;
	background-color: #EDEDED;
	height: 150px;
	margin-top: 250px;
	overflow-y: hidden;
	text-align: center;
	line-height: 150px;
	color: #808080;
	text-shadow: -1px 2px 1px #FFFFFF;
}
